@font-face {
  font-family: 'crimson';
  src: url(../fonts/Crimson\ Text\ Roman.ttf)format(truetype);
  
}

@font-face {
  font-family: 'myriadpro';
  src: url(../fonts/MyriadPro-Regular.otf)format(opentype);
}

@font-face {
  font-family: 'fontquan';
  src: url(../fonts/Fontquan-XinYiGuanHeiTi\ Regular.ttf)format(truetype);
}

@font-face {
  font-family: 'youshen';
  src: url(../fonts/YouSheBiaoTiHei\ Regular.ttf)format(truetype);
}

@font-face {
  font-family: 'sucai';
  src: url(../fonts/sucaijishikufangti\ Regular.ttf)format(truetype);
}

:root {

--base-font-family:     'crimson', sans-serif;
--title-font-family:    'myriadpro', sans-serif;
--font-medium-family:     'fontquan', sans-serif;
--font-bold-family:   'youshen', sans-serif;
--base-font-family2:   'sucai', sans-serif;

--border-radius-large:  100px;
--border-radius-small:  5px;
}

body {
background: var(--white-color);
font-family: var(--base-font-family);
}


  
  /*---------------------------------------
     First Page            
  -----------------------------------------*/

.first {
    min-height: 100vh;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
.first-logo{
    position: relative;
  
}

.center{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-text {
  bottom: 2em;
  line-height: 800px;
  text-align: center;

  }

.hero-text p{
  line-height: 100px;
  text-align:center;
  color: white;
  text-shadow: 2cm;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.slogan{
  text-align: center;
  color: white;
  font-size: 30px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 5px #000000;
  font-family: var(--base-font-family2);
}

    /*---------------------------------------
     About              
  -----------------------------------------*/
  .about {
    min-height: 100vh;
    background-image: url("../images/about3.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .about {
    position: relative;
    overflow: hidden;
  }

  .about-bglogo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
  }

  .card{
    background-color:unset;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    max-height: 60%;
    border: none;
    border-radius: 0%;
    padding: 10px;
    text-align: center;
  }

  .txtAbout{
    text-align: center;
    width: 450px;
  }

  .imgAbout{
    width:300px;
    height: 150px;
    background-color: #e2e3e1;
    text-align: center;
  }

  .about-info{
    font-size: 13px;
    color: #517280;
    width: fix-content;
    padding-top: 20px;
    font-family: var(--base-font-family2);
  }

  .cardTlt{   
    font-size: 40px;
    text-align: center;
    font-weight: 1500px;
    background-image: linear-gradient(45deg, #779fb1,#779fb1, #2c424c,#779fb1);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #3b2823);
    font-family: var(--font-bold-family);
  }


  .cardTlt2{
    color: #a37a69;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding-top: 0px;
    background-image: linear-gradient(45deg,#a88271, #a88271, #5f3b2f,#a88271,#a88271, #5f3b2f,#a88271, #5f3b2f);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #4c362e);
    font-family: var(--base-font-family2);
  }

  /* .card-body{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 85%;
    text-align: center;
    font-family: font2;
  }

  .card-text{
    color: #517280;
  } */

    /*---------------------------------------
     Team              
  -----------------------------------------*/
  .team{
    min-height: 100vh;
    background-image: url("../images/bgteam.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  
  .imgTeam{
    padding-top: 30px;
  }
  
  .teamTlt{
    text-align: center;
  }

  .teamTlt1{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    padding-bottom: 0px;
    margin-bottom: 0;
    background-image: linear-gradient(50deg, #ffffff, #ffffff, #343434);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(4px 4px 3px #4e2d25);
  }

  .teamTlt2{
    font-size: 70px;
    text-align: center;
    background-image: linear-gradient(50deg,#ffffff, #ffffff, #656363,#ffffff,#ffffff, #343434);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(4px 4px 2px #4e2d25);
    font-family: var(--font-bold-family);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
  }

  .circle{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background: #C5B7B2;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;   
  }

  .teamMember{
    padding-top: 200px;
  }


  /*---------------------------------------
     Mission
  -----------------------------------------*/
  .mission{
    min-height: 100vh;
    background-image: url("../images/bgmission.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .Mission{
    text-align: center;
    height: 150px;
  }

  .MissionTlt1{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 0px;
    margin-bottom: 0;
    background-image: linear-gradient(50deg, #7e6251, #3c2c22,#7e6251, #3c2c22);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(4px 3px 0px #ffffff);
    font-family: var(--base-font-family2);
  }

  .MissionTlt2{
    font-size: 80px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0;
    background-image: linear-gradient(50deg, #698794, #202e34,#698794, #202e34,#698794);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(4px 3px 0px #ffffff);
    font-family: var(--font-bold-family);
  } 

  .mission-info{
    width: 125px;
    height: 125px;
    background-image: url('../images/kiteShape.png');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 30px;
    font-family: var(--base-font-family2);
  }

  .missionlogo{
    width: 150px;
  }

  .ct{
    position: absolute;
    color: #3B291F;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 10px white;
    font-size: 16px;
  }

  .container5{
    width: 380px;
    position: absolute;
    top:auto;
    left: 50%;
    transform:translate(-50%, -50%) ;
    margin-top: 300px;
    padding-top:10px ;
  }

  .mission-info2{
    text-align: left;
    font-size: small;
    background-color: #3b291fcb;
    clip-path: polygon(0 0, 98% 0, 90% 100%, 0% 100%);
    height: 100px;
  }

  .txtMission{
    color: white;
    padding: 12px;
    font-size: 10px;
  }

  #i1{
    float: right;    
    margin: 0px 0 10x 10px;
  }

  .mission-info3{
    text-align: right;
    font-size: small;
    background-color: #517280b6;
    margin-top: 15px;
    clip-path: polygon(10% 0, 97% 0, 97% 100%, 0 100%);
    height: 100px;
  }

  #i2{
    float: left;    
    margin: 0px 0px 0px 25px;
  }

  /*---------------------------------------
     SOLUTION             
  -----------------------------------------*/
 .solution{
  min-height: 100vh;
  background-image: url("../images/bgsolution.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 }
 
 .solutionTlt{
  padding-top: 40px;
 } 

 .solutionTlt1{
  color: #3b291f;
  font-size: 45px;
  text-shadow: 2px 2px 0px #ffffff, 5px 5px 7px #3b291f;
  text-align: left;
  font-weight: bold;
  font-family: var(--font-bold-family);
 }
 
 .solutionTlt2{
  color: #6d291f;
  font-size: 45px;
  text-shadow: 2px 2px 0px #ffffff, 5px 5px 7px #3b291f;
  text-align: left;  
  font-weight: bold;
  font-family: var(--font-bold-family);
 }

 .solutionTlt3{
  color: #517280;
  font-size: 45px;
  text-shadow: 2px 2px 0px #ffffff, 5px 5px 10px #3b291f;
  text-align: right;  
  font-weight: bold;
  font-family: var(--font-bold-family);
 }

 .solutionTlt4{
  color: #345572;
  font-size: 45px;
  text-shadow: 2px 2px 0px #ffffff, 5px 5px 10px #3b291f;
  text-align: right;  
  font-weight: bold;
  font-family: var(--font-bold-family);
 }

 .lineS1{
  margin-top: 30px;
  border: 1px solid #3b291f;
  width: 250px;
 }

 .lineS2{
  margin-top: 30px;
  border: 1px solid #71746b;
  max-width: 300px ;
 }

 .container8{
  max-width: 380px;
  position: relative;
  top: auto;
  left: 50%;
  transform: translate(-50%,5%);
 }

 .solution-wrapper {
  position: relative;
  background-color: #597980dd;
  text-align: center;
  border-radius: 6%;
  width: 100px;
  height: 105px;
  margin: auto;
  line-height: 0.8;
  margin-top: 15px;
}

.solution-wrapper img {
  padding-top:15%;
}

.solution-info {
  color: #ffffff;
  font-size: large;
  padding-top: 6px;
  font-family: var(--base-font-family2);
  padding-top: 12px;
}

.solution-wrapper2 {
  position: relative;
  background-color: #80604bdc;
  text-align: center;
  border-radius: 6%;
  width: 100px;
  height: 105px;
  margin: auto;
  line-height: 0.8;
  margin-top: 15px;
}

.solution-wrapper2 img {
  padding-top:15%;
}

  /*---------------------------------------
     LIFELONG              
  -----------------------------------------*/
  .lifelong{
    min-height: 100vh;
    background-image: url("../images/bglifelong.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }

   .lifelongTlt{
    text-align: center;
    padding: 25px;
   }

   .lifelongTlt1{
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
    font-size:50px;
    font-family: var(--font-bold-family);
   }

   .lifelongTlt2{
    color: #ffffff;
    text-shadow: 0px 0px 4px #ffffff;
    font-size:50px;
    font-family: var(--font-bold-family);
   }

   .lifelongctx{
    width: 460px;
    padding: 20px;
   }

   .circle2{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: #ffffff;
    box-shadow: 0px 0px 2px 10px #bebfbcb0, 0px 0px 0px 13px whitesmoke, 0px 0px 0px 20px #d7d8d6;
    margin: 25px;
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
    font-family: var(--font-bold-family);
  }

   .lifelong-info{
    text-align: center;
    margin-top: 30px;
   }

   .circle2 p{
    font-family: var(--base-font-family);
    font-weight: bold;
   }

   .lifelong-info2{
    text-align: center;
    font-size: 15px;
    padding-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: var(--font-bold-family);
   }

   .Lifelongclr1{
    color: white;
    font-weight: lighter;
    font-family: var(--font-bold-family);
   }

   .Lifelongclr2{
    color: #F5C0A7;
   }

  /*---------------------------------------
     OVERSEAS           
  -----------------------------------------*/
  .overseas{
    min-height: 100vh;
    background-image: url("../images/bgoverseas.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
   .overseasTlt{
    text-align: center;
    padding-top: 30px;
    font-family: var(--font-bold-family);
   }

   .overseaTlt1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0;
    background-image: linear-gradient(50deg, #ad604b, #64372b,#ad604b, #64372b);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 2px #ffffff);
    font-family: var(--font-bold-family);
   }

   .overseaTlt2{
    font-size: 60px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0;
    background-image: linear-gradient(50deg, #597980, #2d3d40,#597980, #2d3d40);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 2px #ffffff);
    font-family: var(--font-bold-family);
   }

   .overseaTlt3{
    color: #284a5b;
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-family: var(--base-font-family2);
    font-style: italic;
   }

   .container7{
    width: 400px;
    margin: auto;
   }

   .overseasicon{
    text-align: center;
    top: 70px;
    padding-bottom: 0px;
   }

   .overTlt2{
    color: #3C261B;
    text-align: left;
    font-weight: bold;
    padding-top: 55px;
    font-family: var(--base-font-family2);
   }

   .overTlt3{
    color: #ffffff;
    font-weight: bold;
    text-align: right;
    padding-top: 50px;
    font-family: var(--base-font-family2);
   }

   .overTlt4{
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: var(--base-font-family2);
   }

   .overseaiconSty1{
    position: absolute;
    left: 20%;
   }

   .overseaiconSty2{
    position: absolute;
    right: 15%;
    
   }

   .overSty1{
    text-align: left;
    font-size: x-small;
    color: #3C261B;
   }

   .overSty2{
    text-align: right;
    font-size: x-small;
    color: white;
   }

   .overSty3{
    text-align: center;
    font-size: x-small;
    color: white;
   }

   .overic{
    padding-bottom: 200px;
    position: absolute;
    
    left: 50%;
    top: 20%;
    transform: translate(-50%, 50%);
    text-align: center;
   }

  /*---------------------------------------
     SUPPORTING           
  -----------------------------------------*/
  .supporting{
    min-height: 100vh;
    background-image: url("../images/bgsupporting.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .supportingTlt{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: var(--font-bold-family);
  }

  .supportingTlt1{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(45deg,#ffffff, #ffffff, #5e5f5f,#ffffff, #5e5f5f,#ffffff, #ffffff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 2px #000000);
  }

  .supportingTlt2{
    font-size: 65px;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(45deg, #ffffff, #acafb0,#ffffff, #acafb0);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(4px 4px 3px #000000);
  }
  
  .imgSpt{
    min-width:300px;
    min-height: 150px;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
  }

  .support-info{
    text-align: center;
    border-width: min-content;
  }

  .support-info1{
    /* border: 2px solid #958176; */
    text-align: center;
    background-color: #b0bbc69c;
    padding: 10px;
    color: #80604b;
    font-size: 18px;
    min-width: 250px;
    text-shadow: 1px 1px 5px white;
    margin-top: 0px;
    font-family: var(--base-font-family2);
    clip-path: polygon(11% 0, 88% 0, 97% 20%, 97% 80%, 88% 100%, 12% 100%, 3% 80%, 3% 23%);
  }

  .support-info2{
    color: white;
    text-shadow: black;
    text-align: center;
    font-size: medium;
    background-color: #b0bbc69c;
    font-size: 13px;
    width: fit-content;
    text-shadow: 4px 4px 5px #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .sptclr{
    color: #FFDCB3;
  }

  .imgSpt2{
    text-align: center;
  }

  .support-info3{
    color: #80604B;
    font-size: small;
    text-align: center;
    border: 1px solid black;
  }

  .cardSpt{
    border: none;
    width: auto;
    height: 40px;
    text-align: center;
    margin-top: 20px;
  }

  .card-bodySpt{
    text-align: center;
    color: #80604B;
    font-size: 13px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-family: var(--font-medium-family);
  }

  /*---------------------------------------
     TOKEN             
  -----------------------------------------*/
  .tokenization{
    min-height: 100vh;
    background-image: url("../images/bgtokenization.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .tokenTlt{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .tknTlt1{
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    background-image: linear-gradient(45deg, #a37a5f, #775945,#a37a5f, #775945);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px #ffffff);
    font-family: var(--font-bold-family);
  }

  .tknTlt2{
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    background-image: linear-gradient(45deg, #bf755b, #9a4a3a,#bf755b, #9a4a3a);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px #ffffff);
    font-family: var(--font-bold-family);
  }

  .tknTlt3{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    background-image: linear-gradient(45deg, #a37a5f, #775945,#a37a5f, #775945);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px #ffffff);
  }

  .imgTkn{
      width: 250px;
      height: 110px;
      padding-top: 20px;
      padding-bottom: 15px;
  }

  .ctxTkn{
    color: #597980;
    text-align: center;
    font-family: var(--font-bold-family);
    font-size: 19px;
  }

  .ctxTkn2{
    color: #3B291F;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 110px;
    font-family: var(--base-font-family2);
  }

  .tokenTlt2{
    text-align: center;
    position: relative;
    padding-top: 35px;
    font-family: var(--base-font-family2);
  }

  .tknTlt4{
    color: #ffffff;
    font-size: 30px;
    font-style: italic;
  }

  .tknTlt5{
    color: #9cb7ba;
    font-size: 30px;
    font-style: italic;
  }

  .cardToken{
    max-width: 800px;
    text-align: center;
  }

  .cardTkn{
    text-align: center;
  }

  .card-bodyTkn{
    color: #C0B4A1;
    text-align: center;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  /*---------------------------------------
     EQUITY           
  -----------------------------------------*/
  .equity{
    min-height: 100vh;
    background-image: url("../images/bgequity.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .equityTlt{
    text-align: center;
    padding-top: 20px;
    font-family: var(--font-bold-family);
  }

  .equityTlt1{
    font-size: 35px;
    text-align: center;
    background-image: linear-gradient(45deg,#777777, #ffffff, #ffffff, #777777,#ffffff, #777777);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px #000000);
  }

  .equityTlt2{
    font-size: 65px;
    text-align: center;
    background-image: linear-gradient(45deg,#ffffff, #ffffff,#777777, #ffffff, #ffffff,#ffffff, #777777);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px #000000);
  }

  .equityCtx{
    text-align: center;
    padding-top: 30px;
  }

  .imgEquity2{
    width: 350px;
    height: 250px;
  }

  .equity-info{
    color: #ffffff;
    font-size: small;
    text-align: center;
  }

  .etyclr{
    color: #FFDCB3;
  }

  /* .imgline{
    text-align: center;
  } */

  .Success{
    color: #EBCD80;
    font-size: 25px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: var(--font-bold-family);
  }

  .equity-info2{
    background-image: url("../images/txtEquityctx2.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-size: small;
    color: #000000;
    text-shadow: 1px 1px 5px white;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    font-family: var(--font-medium-family);
  }

  .etyclr2{
    color: #5E0000;
  }


  /*---------------------------------------
     REVOLUTION              
  -----------------------------------------*/
  .revolution{
    min-height: 100vh;
    background-image: url("../images/bgrevolution.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .revolutionTlt{
    text-align: center;
  }

  .revolutionTlt{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    font-family: var(--font-bold-family);
  }

  .rvTlt1{
    color: #713c31;
    text-shadow: 1px 3px 3px #ffffff;
    font-size: 50px;
    font-weight: bold;
  }

  .rvTlt2{
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 1px 3px 3px #ffffff;
  }

  .rvTlt3{
    color: #597980;
    text-shadow: 1px 3px 3px #ffffff;
    font-weight: bold;
    font-size: 30px;
  }

  .container2{
    position: absolute;
    top:auto;
    left: 50%;
    transform:translate(-50%, -50%) ;
    margin-top: 110px;
    width: 380px;
    height: auto;
    border: 4px solid rgba(255, 255, 255, 0.455);
    padding-left: 2px;
    border-radius: 30px;
    background-color: #e7e4e447;
    padding: 10px;
    padding-bottom: 0px;
  }

  .rvStyle{
    border-right: 1px solid #314355;
  }

  .rvSty{
    text-align: right;
    font-size: 32px;
    color: #314355;
    text-shadow: 0px 0px 7px white;
    font-weight: bold;
    padding-top: 15px;
    font-family: var(--font-bold-family);
  }

  .rvSty1{
    text-align: right;
    font-size: 32px;
    color: #314355;
    text-shadow: 0px 0px 7px white;
    font-weight: bold;
    font-family: var(--font-bold-family);
  }

  .rvSty2{
    color: #314355;
    text-shadow: 0px 0px 7px white;
    font-weight: bold;
    padding-top: 10px;
  }

  .rvSty3{
    text-align: center;
    color: #314355;
    text-shadow: 0px 0px 7px white;
    font-size: x-small;
    font-style: italic;
  }


  .container3{
    width: 380px;
    height: auto;
    border: 4px solid rgba(255, 255, 255, 0.455);
    padding-left: 2px;
    border-radius: 30px;
    background-color: #e7e4e447;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top:auto;
    left: 50%;
    transform:translate(-50%, -50%) ;
    margin-top: 350px;
  }

  .rvSty5{
    color: #671a0d;
    font-size: 30px;
    text-shadow: 0px 0px 7px white;
    font-family: var(--font-bold-family);
  }

  .rvSty6{
    border: 1px solid #49170E;
  }

  .rvSty7{
    color: #49170E;
    font-size: medium;
    text-shadow: 0px 0px 7px white;
  }

  .rvSty8{
    text-align: center;
    color: #49170E;
    text-shadow: 0px 0px 7px white;
    font-size: x-small;
    font-style: italic;
  }

  /*---------------------------------------
     Exchange              
  -----------------------------------------*/
  .exchange{
    min-height: 100vh;
    background-image: url("../images/bgexchange.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .exchangeTlt{
    text-align: left;
    padding-top: 30px;
  }

  .excTlt1{
    color: #b4804f;
    text-shadow: 2px 2px 0px #ffffff;
    font-size: 30px;
    font-family: var(--font-medium-family);
  }

  .excTlt2{
    color: #000000;
    text-shadow: 2px 2px 0px #ffffff;
    font-size: 55px;
    font-family: var(--font-bold-family);
  }

  .excTlt3{
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
    font-size: 50px;
    text-shadow: 1px 3px 3px #ffffff;
    font-style: italic;
  }

  .exchange-info{
    text-align: right;
    background-color: #597980;
    font-size: 22px;
    color: #ffffff;
    width: max-content;
    padding: 5px;
    padding-left:15px ;
    padding-right:15px ;
    margin-right: 0;
    margin-bottom: 10px;
    font-family: var(--font-bold-family);
    letter-spacing: 3px;
  }

  .lineSty{
    text-align: center;
  }

  .imgMap{
    width: 150px;
    height: 110px;
    text-align: right;
    margin-top: 20px;
  }

  .countries {
    font-size: x-large;
    color: #37241B;
    font-family: var(--font-medium-family);
  }

  .ctyList hr{
    width: 130px;
    text-align: left;
  }

  .ctyList{
    text-align: left;
  }

  ul.ctyList{
    list-style-type: none;
    font-weight: bold;
  }

  .exchange-info2{
    text-align: left;
    font-size: small;
    padding-top: 15px;
    padding-left: 0px;
  }

  .container4{
    width: 410px;
    position: absolute;
    top:auto;
    left: 50%;
    transform:translate(-50%, -50%) ;
    margin-top: 250px;
  }

  /*---------------------------------------
     footer            
  -----------------------------------------*/
  .site-footer{
    background-color: #363633;
    padding: 30px;
  }

  .footerSty{
    color: #808080;
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
    font-family: var(--title-font-family);
  }

  .footerSty2{
    color: #808080;
    text-align: center;
    font-size: 5px;
    letter-spacing: 1px;
    padding-bottom: 15px;
  }
  
  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (min-width: 1200px) {

    .card-body{
      font-size: 85%;
    }

    .container{
      width: 600px;
      padding-bottom: 20px;
    }

  }

  @media screen and (min-width: 991px) {

  .card-body{
    font-size: 82%;
  }

    .project h2 {
      max-width: 32%;
      margin: 0 auto;
    }

  }

  @media screen and (max-width: 991px) {

    .about-info{
      font-size: 13px;
    }

    .card-body{
      margin-left: 10%;
      margin-right: 10%;
      font-size: 80%;
    }

    .hero {
      padding-top: 14em;
    }

    .hero-text {
      bottom: 2em;
    }

    .navbar {
      padding: 1em;
    }

    .navbar-collapse {
      text-align: center;
      padding: 2.5em 0;
    }

    .nav-link {
      display: inline-block;
    }

    .navbar-expand-lg .navbar-nav .nav-link.contact {
      margin: 1em 0;
    }

    .copyright-text, 
    .footer-link, 
    .site-footer .social-icon {
      margin-top: 3em;
      padding: 0;
      text-align: left;
    }
  }

  @media screen and (max-width: 767px) {

 
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 22px;
    }

    .slogan{
      font-size: 18px;
    }

    .about-info{
      font-size: 9px;
    }

    .teamTlt2{
      font-size: 52px;
    }

    .circle{
      width: 90px;
      height: 90px;
    }
    

    .MissionTlt1{
      font-size: 60px;
    }

    .MissionTlt2{
      font-size: 80px;
    }

    .ct{
      text-align: center;
      font-size: 13px;
      padding: 10px;
    }

    .solutionTlt1{
      font-size: 35px;
     }

     .solutionTlt2{
      font-size: 35px;
     }

     .solutionTlt3{
      font-size: 35px;
     }
    .solutionTlt4{
      font-size: 35px;
     }


    .lineS1{
      margin-top: 30px;
      border: 1px solid #3b291f;
      width: 210px ;
     }
    
     .lineS2{
      margin-top: 30px;
      border: 1px solid #71746b;
      max-width: 300px ;
     }

     .lifelongTlt1{
      font-size:40px;
     }
  
     .lifelongTlt2{
      font-size:40px;
     }

     .lifelong-info p{
      font-size: 5px;
     }

     .circle2{
      border-radius: 50%;
      width: 70px;
      height: 70px;
      font-size: 10px;
     }

    .ll7{
      width:100px;
      height: 100px;
      padding: 0px;
    }

    .container7{
      width: 380px;
    }

    .overseasTlt{
      width: auto;
      height: auto;
      background-position: center center;
    }

    .line{
      max-width: 400px;
    }

    .imgSpt{
      width:100px;
      height: 100px;
      margin-top: 15px;
    }


    .support-info1{
      text-align: center;
  
      background-color: #b0bbc69c;
      font-size: 15px;
      max-width: 250px;
      text-shadow: 1px 1px 5px white;
    }

    .support-info2{
      font-size: 9px;
      width: 300px;
    }
    
    .support-info3{
      color: #80604B;
      font-size: small;
      padding-top: 10px;
      text-align: center;
      font-weight: bold;
      width: auto;
      height: auto;
      padding-top: 5px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .card-body{
      margin-left: 10%;
      margin-right: 10%;
   
    }

    .card-bodySpt{
      font-size: 11px;
    }

    .imgTkn{
      width: 450px;
      height: 200px;
    }


    .imgMap{
      text-align: right;
      margin-left: 20px;
      width: 150px;
      height: 100px;
      margin-top: 22px;
    }

    .footer-link, 
    .site-footer .social-icon {
      margin-top: 1em;
    }

    .copyright-text {
      margin: 2.5em 0 1em 0;
    }

    .footer-link li {
      margin-left: 0;
    }
  }
